/*textos*/
    .título{
        color: #5B3B5B;
        font-size: 50px;
        font-family:'Times New Roman', Times, serif ;
        margin: 0px 10px 30px 10px;
    }

    ul li a {
        text-decoration: none;
        font-family:'Times New Roman', Times, serif ;
        color: #5B3B5B;
    }

    h1{ 
        display: flex;
        flex-direction: row-reverse;
        align-content: center;
        justify-content: center;
        margin-block-start: 1em;
        margin-block-end: 1em;
    }

    .Textoss {
        font-size: 40px;
        margin: -100px 0px 20px 0px;
    }

    .Textonosotros1{
        margin-top: 15px;
        margin-bottom: -1px;
        font-size: 20px;
    }

    .Textonosotros{
        margin: -1px;
        font-size: 20px;
    }

    .TextoServicios1{
        margin-top: 15px;
        margin-bottom: -1px;
        font-size: 20px;
    }

    .TextoServicios{
        margin: -1px;
        font-size: 20px;
    }

    .Footer{
        margin-top: 20px;
        font-size: 13px;
    }

    .TextoRedes{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Redes1{
        margin: 0px 0px 0px 170px;
        align-items: center;
        justify-content: center;
    }

    .Redes2{
        margin: 0px 50px 0px 120px;
        align-items: center;
        justify-content: center;
    }

    .Redes3{
        margin: 0px 125px 0px 35px;
        align-items: center;
        justify-content: center;
    }

.Wave {
    margin: auto;
    width: auto;
    position: relative;
    z-index: 0;
}

.Logo {
    margin: 0px 10px 30px 10px;
    width: 150px;
    height: auto;
}

.Video{
    box-shadow: -5px -5px 10px #5B3B5B;
}

.PortaSahumerios {
    box-shadow: -5px -5px 10px #5B3B5B;
}

.Imgservicios{
    margin: -100px 0px 5px 0px
}

/*redes*/
    .RedesSociales{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ImagenRedes1{
        margin: 0px 50px;
        align-items: center;
        justify-content: center;
    }

ul li{
    list-style: none;
}

ul{
    padding: 0;
    display: flex;
    flex-direction: row;
    margin: 0px 10px 30px 10px;
}

nav ul li{
    list-style: none;
    margin: 15px;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav2{
    position: absolute;
    flex-direction: row;
    z-index: 1;

}

/*productos*/
    .Frutas{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 4rem 6rem 1rem 6rem;
        box-shadow: -5px -5px 10px #5B3B5B;
        border-radius: 10px;
    }

    .Frutas h2 {
        padding: 8px;
        margin: 20px 20px 20px 20px;
        font-family:'Courier New', Courier, monospace;
        font-weight: 700;
        font-style: normal;
        font-size: medium
    }

    .Frutas img{
        padding: 0px;
        margin: 20px 20px 20px 20px;
        box-shadow: 5px 5px 5px grey;
        width: 300px;
        height: auto;
        border-radius: 20px;
    }

    .OjoTurco{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 4rem 6rem 1rem 6rem;
        box-shadow: -5px -5px 10px #5B3B5B;
        border-radius: 10px;
    }
    
    .OjoTurco h2 {
        padding: 8px;
        margin: 20px 20px 20px 20px;
        font-family:'Courier New', Courier, monospace;
        font-weight: 700;
        font-style: normal;
        font-size: medium
    }
    
    .OjoTurco img{
        padding: 0px;
        margin: 20px 20px 20px 20px;
        box-shadow: 5px 5px 5px grey;
        width: 300px;
        height: auto;
        border-radius: 20px;
    }

    .Yin-Yang{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 4rem 6rem 1rem 6rem;
        box-shadow: -5px -5px 10px #5B3B5B;
        border-radius: 10px;
    }
        
    .Yin-Yang h2 {
        padding: 8px;
        margin: 20px 20px 20px 20px;
        font-family:'Courier New', Courier, monospace;
        font-weight: 700;
        font-style: normal;
        font-size: medium
    }
        
    .Yin-Yang img{
        padding: 0px;
        margin: 20px 20px 20px 20px;
        box-shadow: 5px 5px 5px grey;
        width: 350px;
        height: auto;
        border-radius: 20px;
    }

    .Sol{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 4rem 6rem 1rem 6rem;
        box-shadow: -5px -5px 10px #5B3B5B;
        border-radius: 10px;
    }
            
    .Sol h2 {
        padding: 8px;
        margin: 20px 20px 20px 20px;
        font-family:'Courier New', Courier, monospace;
        font-weight: 700;
        font-style: normal;
        font-size: medium
    }
            
    .Sol img{
        padding: 0px;
        margin: 20px 20px 20px 20px;
        box-shadow: 5px 5px 5px grey;
        width: 230px;
        height: auto;
        border-radius: 20px;
    }